body {
  background-color: black;
}

.header {
  margin: 1em 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  color: white;
}

.clock_box {
  margin: 0 10%;
}

.flip-clock-wrapper {
  margin: 0!important;
}

.flip-clock-wrapper ul li a div div.inn {
  color: black!important;
  background-color: white!important;
}

.flip-clock-wrapper ul li a div.up:after {
  display: none!important;
}

.election-info-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0;
}

.election-info-links > div {
  width: 45%;
  max-width: 400px;
  padding: 1rem 2.5%;
}

.election-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  text-align: center;
  background: rgba(51,102,153,0.8);
  background: linear-gradient(to bottom, rgba(51,102,153,0.8) 0%, rgba(35,32,102,0.8) 100%);
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.election-info-btn:hover {
  background: rgba(51,102,153,1);
  background: linear-gradient(to bottom, rgba(51,102,153,1) 0%, rgba(35,32,102,1) 100%);
}

.election-info-btn:active {
  margin: 0.2rem 0 0 0.2rem;
}

.election-info-btn .fa {
  display: inline-block;
  color: #E91D0E;
  text-shadow: none;
  margin: 0 0.5rem;
}
