html {
  height: 100%;
}

body {
  background-color: rgba(245, 239, 230, .4);
  position: relative;
  min-height:100%;
}

.header {
  margin: 0 10% .5em 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 5em;
  color: black;
}

.clock_box {
  margin-left: 5em;
}

.flip-clock-wrapper {
  margin: 0!important;
}

.flip-clock-wrapper ul li a div div.inn {
  /*color: black!important;
  background-color: white!important;*/
}

.flip-clock-wrapper ul li a div.up:after {
  /*display: none!important;*/
}

.election-info-links {
  /*display: flex;*/
  /*justify-content: center;*/
  padding: 1rem;
  margin: 1rem 0 0 3rem;
}

.election-info-links > div {
  width: 45%;
  max-width: 400px;
  padding: 1rem 2.5%;
}

.election-info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 1em;
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  text-align: center;
  background: #424242;
}

.election-info-btn:hover {
  /*background: rgba(51,102,153,1);
  background: linear-gradient(to bottom, rgba(51,102,153,1) 0%, rgba(35,32,102,1) 100%);*/
  background: black;
}

.election-info-btn:active {
  margin: 0.2rem 0 0 0.2rem;
}

.election-info-btn .fa-star {
  display: inline-block;
  color: #E91D0E;
  text-shadow: none;
  margin: 0 0.5rem;
}

.text {
  padding: 0 35px;
}

.flip-clock-divider .flip-clock-label {
  right: -37px!important;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -50px!important;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -50px!important;
}

.left_side {
  margin-top: 2em;
  float: left;
  height:100%;
}

.right_side {
  float: right;
  margin-bottom: 50px;
}

.right_side h1 {
  font-size: 40px;
  margin: 1.5em 1em 20px 0;
  font-family: 'Open Sans', sans-serif;
}

.rep_list {
  margin-left: 25px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: 'Open Sans Condensed', sans-serif;
}

.rep_list p {
  padding: 2px;
}

.house_txt, .senate_txt {
  font-size: 15px;
  font-weight: normal!important;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #424242;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}
